.inner {
    &.l-location {
        position: relative;
        z-index: 1;

        @include mq("sm") {
            padding: 0;
        }
    }
}

.l-location-bg-def {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include background();

    @for $i from 1 through 10 {
        &.def#{$i} {
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.png);
        }
    }
    @for $i from 11 through 29 {
        &.def#{$i} {
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.jpeg);
        }
    }
}

.l-location-bg {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(255,255,255,0.3);
        // opacity: 0;
        transition: all 1s ease;
    }

    @include background();

    @include mq("sm") {
        background-image: none !important;
    }

    @for $i from 1 through 10 {
        &.currentcurr#{$i} {
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.png);

            &:after {
                // background-color: rgba(255,255,255,0.3);
                // opacity: 1;
            }
        }
    }
    @for $i from 11 through 29 {
        &.currentcurr#{$i} {
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.jpeg);

            &:after {
                // background-color: rgba(255,255,255,0.3);
                // opacity: 1;
            }
        }
    }
}

.l-location-bg-before {
    &.bg_none {
        background-image: none;
    }

    background-image: url(../images/top/top-location-item01.png);
    opacity: 0.7;
    @include mq("sm") {
        background-image: none;
    }
    // z-index: -1;
    // &.home {
    //     z-index: 1;
    // }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background();
    @include mq("sm") {
        background-image: none !important;
    }
    @for $i from 1 through 10 {
        &.currentcurr#{$i} {
            // background-image: url(http://works-portforio.co/images/location-country-img01.png);
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.png);

            &:after {
                background-color: rgba(255, 255, 255, 0.3);
                // opacity: 1;
            }
        }
    }
    @for $i from 11 through 29 {
        &.currentcurr#{$i} {
            background-image: url(http://works-portforio.co/images/location-country-img0#{$i}.jpeg);

            &:after {
                background-color: rgba(255, 255, 255, 0.3);
                // opacity: 1;
            }
        }
    }
}

.menu-location_category-container {
    margin-top: 70px;
    // width: 200px;
    width: 100%;
    max-height: 100%;
    height: 750px;

    @include mq("md") {
        height: 500px;
    }

    @include mq("sm") {
        margin-top: 30px;
        height: auto;
        display: flex;
    }

    overflow-y: hidden;
}

// .location-main {
//     overflow-x: hidden;
// }

.l-location-bg-map {
    transition: all 0.5s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    -webkit-mask-image: url(../images/location/world-map2.svg);
    mask-image: url(../images/location/world-map2.svg);
    background-color: $bg_sub;
    @include background();
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: 70px center;
    -webkit-mask-position: center;
    mask-position: center;
    max-height: 100%;
    height: 750px;

    @include mq("xl") {
        mask-size: 100%;
    }

    @include mq("md") {
        mask-size: 85%;
        // mask-position:clamp(60px , 10vw ,100px) center;
        height: 500px;
    }

    @include mq("sm") {
        pointer-events: none;
        mask-image: none;
        background-color: transparent;
    }
}

.nav_menu_items {
    @include mq("sm") {
        position: static;
        overflow-x: scroll;
        // display: block;
        flex-wrap: nowrap;
        display: -webkit-box;


    }

    overflow: auto;
    // @include mq('md') {
    //     display: flex;
    //     flex-wrap: wrap;
    // }
    // @include mq('lg') {
    //     display: flex;
    //     flex-wrap: wrap;
    // }
    // @include mq('xl') {
    // }
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    // @include background();
    // background-image: url(../images/location/world-map2.svg);
}

.menu-item {
    // opacity: 0;
    position: absolute;
    // padding:5px 10px;

    @include mq("sm") {
        width: 50%;
        position: static;
    }

    text-align: center;
    // width: 10%;
    // width: 400px;
    background-color: $bg_main;
    color: $font_sub;
    border: 1px solid $bg_sub;
    transition: all 0.5s ease 0s;

    &:hover {
        border: 1px solid $font_sub;
        background-color: $bg_sub;
        box-shadow: $box-shadow;
        z-index: 1;

        // @include mq("xl") {
        //     width: 15%;
        // }

        & a {
            padding: 15px 20px;
            font-size: 24px;
            color: $font_sub;
            @include mq("lg") {
                padding: 10px;
                font-size: 18px;
            }
            @include mq("md") {
                padding: 10px;
                font-size: 18px;
            }
            @include mq("sm") {
                font-size: 16px;
                padding: 20px 0;
            }
        }
    }

    & a {
        transition: all 0.5s ease;
        padding: 5px 10px;
        display: block;

        @include mq("xl") {
            padding: 5px 10px;
            font-size: 18px;
        }

        @include mq("lg") {
            padding: 4px 8px;
            font-size: 18px;
        }

        @include mq("md") {
            padding: 3px 6px;
            font-size: 18px;
        }

        @include mq("sm") {
            padding: 20px 0;
            // font-size: 14px;
        }
    }

    //https://blog-and-destroy.com/8221
    //参考
    // $contory_lists :(
    //     1:(
    //         x:34%,
    //         y:30%,
    //     ),
    //     1:(
    //         x:34%,
    //         y:30%,
    //     ),
    // );

    // @each $index,$propaty in $contory_lists {

    // }

    &:nth-child(1) {
        top: 34%;
        right: 30%;
    }

    &:nth-child(2) {
        top: 18%;
        left: 0%;
    }

    &:nth-child(3) {
        top: 13%;
        left: 10%;
    }

    &:nth-child(4) {
        top: 20%;
        left: 13%;
    }
    &:nth-child(5) {
        top: 50%;
        right: 13%;
    }
    &:nth-child(6) {
        top: 50%;
        right: 20%;
    }
    &:nth-child(7) {
        top: 25%;
        left: 15%;
    }
    &:nth-child(8) {
        top: 50%;
        left: 5%;
    }
    &:nth-child(9) {
        bottom: 30%;
        left: 30%;
    }
    &:nth-child(10) {
        bottom: 60%;
        left: 18%;
    }
    &:nth-child(11) {
        top: 26%;
        right: 33%;
    }
    &:nth-child(12) {
        top: 43%;
        right: 23%;
    }
    &:nth-child(13) {
        top: 27%;
        left: 4%;
    }
    &:nth-child(14) {
        top: 57%;
        right: 19%;
    }
    &:nth-child(15) {
        top: 57%;
        right: 50%;
    }
    &:nth-child(16) {
        top: 62%;
        right: 22%;
    }
    &:nth-child(17) {
        top: 42%;
        left: 7%;
    }
    &:nth-child(18) {
        top: 36%;
        left: 11%;
    }
    &:nth-child(19) {
        bottom: 25%;
        left: 45%;
    }
    &:nth-child(20) {
        top: 22%;
        left: 21%;
    }
    &:nth-child(21) {
        top: 32%;
        left: 1%;
    }
    &:nth-child(22) {
        top: 66%;
        left: 71%;
    }
    &:nth-child(23) {
        top: 29%;
        left: 12%;
    }
    &:nth-child(24) {
        top: 50%;
        left: 31%;
    }
    &:nth-child(25) {
        top: 46%;
        right: 28%;
    }
    &:nth-child(26) {
        top: 43%;
        left: 0%;
    }
    &:nth-child(27) {
        top: 30%;
        left: 20%;
    }
    &:nth-child(28) {
        top: 21%;
        left: 29%;
    }
    &:nth-child(29) {
        top: 31%;
        left: 29%;
    }
}

.current-menu-item {
    pointer-events: none;
    border: 1px solid $font_sub;
    background-color: $bg_sub;

    @include mq("xl") {
        width: 15%;
    }

    @include mq("lg") {
        width: 15%;
    }

    @include mq("md") {
        width: 15%;
    }

    @include mq("sm") {
        border: 1px solid $font_accent;
        
    }

    & a {
        padding: 15px 20px;
        font-size: 24px;
        color: $font_sub;
        @include mq("lg") {
            padding: 10px;
            font-size: 18px;
        }
        @include mq("md") {
            padding: 10px;
            font-size: 18px;
        }

        @include mq("sm") {
            font-size: 18px;
        }
    }
}

.paginate_items {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .current {
        pointer-events: none;
        color: $font_accent;
        background-color: $bg_main;
    }
    & .dots {
        pointer-events: none;
        color: $font_accent;
        background-color: $bg_main;
    }

    & a,
    span {
        color: $font_sub;
        background-color: $bg_sub;
        border: 1px solid $bg_sub;
        padding: 10px 20px;
        display: block;
        font-size: 42px;
        font-weight: bold;
        transition: all 0.5s ease 0s;

        @include mq("sm") {
            font-size: 24px;
        }

        @include mq("md") {
            font-size: 36px;
        }

        &:hover {
            color: $font_accent;
            background-color: $bg_main;
        }
    }
}

.page-numbers {
    &:not(:first-child) {
        margin-left: 14px;
    }
}

.current {
}

.next,
.prev {
    padding: 0 !important;

    .prev-img,
    .next-img {
        padding: 30px;
        display: block;

        @include mq("sm") {
            padding: 22px;
        }

        &:hover {
            background: $bg_sub;
        }
    }

    .prev-img {
        background: $bg_main;
        mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 20px;
        -webkit-mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 20px;

        @include mq("sm") {
            mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 10px;
            -webkit-mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 10px;
        }
    }

    .next-img {
        background: $bg_main;
        mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 20px;
        -webkit-mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 20px;

        @include mq("sm") {
            mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 10px;
            -webkit-mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 10px;
        }
    }
}

//swiper

.swiper {
    // height: 500px;
    & .swiper-wrapper {
        margin-top: 40px;

        & .swiper-slide {
            width: 75%;
            margin: 0 auto;
            background-color: transparent;

            & picture {
                box-shadow: $box-shadow;
                display: block;
                aspect-ratio: 4/3;
                height: 500px;
                overflow: hidden;
                width: 100%;

                @include mq("sm") {
                    height: 300px;
                }

                @include mq("md") {
                    height: 400px;
                }

                // & source {
                //     object-fit: cover;
                // }
                & img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

.slider-thumbnail {
    overflow: hidden;

    & .swiper-slide {
        aspect-ratio: 4/3;
        height: 150px;
        overflow: hidden;

        @include mq("sm") {
            height: 90px;
        }

        & img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 5px !important;

    @include mq("sm") {
        width: 14px;
        height: 14px;
    }
}

.swiper-pagination-bullet-active {
    width: 25px;
    height: 25px;
    background-color: $bg_sub;

    // margin-bottom: -12.5px!important;
    @include mq("sm") {
        width: 18px;
        height: 18px;
    }
}

@mixin swiperNavBtn($arrow: "right") {
    width: 50px;
    height: 50px;
    mask: url("../images/arrow/arrow-#{$arrow}.svg") no-repeat center center / 15px;
    -webkit-mask: url("../images/arrow/arrow-#{$arrow}.svg") no-repeat center center / 15px;
}

.swiper-button-prev {
    &::before {
        content: "";
        // @include background($size:30px);
        mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 40px;
        -webkit-mask: url("../images/arrow/arrow-right.svg") no-repeat center center / 40px;
        background-color: $bg_sub;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 20px;
        transform: translateY(-50%);
        margin: 0;
        top: 50%;

        @include mq("md") {
            @include swiperNavBtn();
        }

        @include mq("sm") {
            left: 10px;
            margin-top: 30px;
            @include swiperNavBtn();
        }
    }

    &::after {
        display: none;
    }
}

.swiper-button-next {
    &::before {
        display: none;
    }

    &::after {
        content: "";
        // @include background($size:30px,);
        mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 40px;
        -webkit-mask: url("../images/arrow/arrow-left.svg") no-repeat center center / 40px;
        background-color: $bg_sub;
        position: absolute;
        width: 100px;
        height: 100px;
        right: 20px;

        transform: translateY(-50%);
        margin: 0;
        top: 50%;

        @include mq("md") {
            @include swiperNavBtn($arrow: "left");
        }

        @include mq("sm") {
            margin-top: 30px;
            right: 10px;
            @include swiperNavBtn($arrow: "left");
        }
    }
}

.l_section_single_info_wrap {
    margin-top: 40px;
    line-height: 1.3;
    display: flex;
    justify-content: flex-start;

    @include mq("sm") {
        flex-wrap: wrap;
    }
}

.l_section_single_info_time {
    @include mq("lg") {
        width: 46%;
    }

    @include mq("md") {
        width: 46%;
    }

    @include mq("sm") {
        width: 100%;
    }

    width: 23%;

    & time {
        & .space {
            display: inline-block;
            width: 30px;
        }
    }
}

.l_section_single_info_cate {
    margin-left: 2%;
    width: 23%;

    @include mq("lg") {
        width: 46%;
    }

    @include mq("md") {
        margin-left: 0;
        width: 46%;
    }

    @include mq("sm") {
        margin-left: 0;
        width: 100%;
    }
}

.l_section_single_info_cate_lists {
    display: flex;
}

.l_section_single_info_cate_list {
    width: 50%;

    @include mq("lg") {
        width: 25%;
    }

    @include mq("md") {
        width: 25%;
    }

    @include mq("sm") {
        width: 25%;
    }
}

///dl-
///
.l_section_single_bottom_content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.l_section_single_dl {
    position: sticky;
    top: 0;
    width: 48%;

    @include mq("sm") {
        position: static;
        width: 100%;
    }

    @include mq("md") {
        position: static;
        width: 100%;
    }
}

.l_section_single_row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid $bg_sub;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

.l_section_single_dt {
    width: 20%;

    @include mq("sm") {
        width: 50%;
    }
}

.l_section_single_dd {
    width: 80%;
    padding-left: 28px;

    @include mq("sm") {
        width: 100%;
        // padding-left: 20px;
        margin-top: 10px;
    }
}

.l_section_single_body {
    width: 48%;

    @include mq("sm") {
        margin-top: 40px;
        width: 100%;
    }

    @include mq("md") {
        margin-top: 40px;
        width: 100%;
    }

    &_title {
        font-size: 24px;
        font-weight: bold;
    }

    &_content {
        margin-top: 24px;
    }
}

//////single-page
/// スライドショー
///
///

.carousel {
    width: 840px;
    height: 400px;
    margin: 0 auto;
    position: relative;

    &__main {
        width: 640px;
        height: 400px;
        margin: 0 auto;

        & > .active {
            animation: fadeImg 0.8s;
        }
    }

    &__prev {
        position: absolute;
        top: 150px;
        left: 20px;
        cursor: pointer;
        color: lightgray;
        width: 20px;
        height: 20px;
        background-color: #333;

        &:hover {
            transition-duration: 0.2s;
            transform: translateX(-10px);
        }
    }

    &__next {
        position: absolute;
        top: 150px;
        background-color: #333;
        width: 20px;
        height: 20px;
        right: 20px;
        cursor: pointer;
        color: lightgray;

        &:hover {
            transition-duration: 0.2s;
            transform: translateX(10px);
        }
    }

    &__thumbnails {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        & li {
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }

            &.current {
                opacity: 1;
            }
        }

        & img {
            width: 80px;
        }
    }
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
